@{
    ViewData["Title"] = "Ustawienie nowego hasła";
}

<div class="container mt-5">
    <div class="card" style="max-width: 400px; margin: auto;">
        <div class="card-header bg-warning">
            <h4>Wymagana zmiana hasła</h4>
        </div>
        <div class="card-body">
            <form asp-action="ZmienHaslo" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label">Nowe hasło</label>
                    <input name="noweHaslo" type="password" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Powtórz nowe hasło</label>
                    <input name="powtorzoneHaslo" type="password" class="form-control" required />
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-danger">Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>