@* Partial view: lewy panel nawigacyjny *@

<aside class="panelbok">
    <div class="logo"><h1>Magazyn GiTA</h1></div>
    <nav class="gitanav">
        <p>Zarządzanie użytkownikami</p>
        <ul>
            <li><a asp-controller="Uzytkownicy" asp-action="AdminPanel">Przegląd personelu</a></li>

            @if (User.IsInRole("Administrator") || User.IsInRole("Kierownik magazynu"))
            {
                <li><a asp-controller="Uzytkownicy" asp-action="Rejestracja">Rejestracja pracownika</a></li>
                <li><a asp-controller="Uzytkownicy" asp-action="ForgottenUsers">Użytkownicy zapomniani (RODO)</a></li>
            }

            <li><a asp-controller="Uprawnienia" asp-action="Uprawnienia">Lista Uprawnień</a></li>
        </ul>
    </nav>
</aside>
