@* Partial view: górny pasek nawigacyjny *@

<header class="header">
    <div class="info">
        <a asp-controller="Uzytkownicy" asp-action="MyAccount">Moje Konto</a>
        <a asp-controller="Home" asp-action="Index">Strona Główna</a>
        <form asp-controller="Account" asp-action="Logout" method="post" class="inline-form">
            @Html.AntiForgeryToken()
            <button type="submit" class="logout-btn-link">Wyloguj</button>
        </form>
    </div>
</header>
